.footer {
    display: flex;
    box-sizing: border-box;
    border: none;
    height: 40rem;
    background-color: black;
    color: #f3f3f5;
    font-family: Calibri;
    padding-left: 1rem;
    padding-top: 2rem;
    text-align: left;
}

.footer-inline {
    display: inline-block;
}

select {
    width: 22rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid white;
    background-color: black;
    color: #f3f3f5;
    font-family: Calibri;
}

option {
    background-color: white;
    color: black;
}

select:active {
    box-shadow: 1px -1px 3px #aaaaaa;
}

.footer-inline input {
    padding: 11px;
    width: 20rem;
    border-radius: 2px;
    border: 1px solid #e7e7e7;
    background-color: black;
}

.footer-inline button {
    background-color: #e7e7e7;
    padding: 11px;
    font-size: 0.5rem;
    font-weight: bold;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
}

.social-network {
    margin-top: 20px;
}

.social-network a {
    text-decoration: none;
    color: #e7e7e7;
    margin-right: 50px;
}

.social-network a:hover {
    color: #6c757d;
}