* {
  box-sizing: border-box;
}

.recommender {
  float: left;
}
  
.gallery {
  border: 1px solid #ccc;
}

.gallery:hover {
  border: 4px solid #777;
}

.desc {
  padding: 15px;
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
